body{
    margin: 0;
}

.container{
    background-color: white;
    width: 900px;
    margin: 0 auto;
}

h1{
    margin-bottom: 0;
}

.box{
    margin: 0;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 6rem;
    background-size: 31%;
}

#logo{
    margin: 0;
    width: 13em;
    height: 1em;
    padding-top: 2%;
}

address{
    margin-bottom: 5px;
    font-style: normal;
    color: grey;
}

.blue{
    color: #4ea0ff;
}

#date{
    margin-bottom: 20px;
    font: small;
    color: grey;
}

#tims{
    margin: 0;
}

#figcaption{
    font-size: small;
}

.marker{
    background-color: yellow;
}

ul{
    padding-left: 17px;
}

th {
    font-style: normal;
    color: white;
    padding-right: 90px;
   }

table{
    border-spacing: 0;
}

.darkblue{
    background-color: #4ea0ff;
}

.lightblue{
    background-color: #b1e5f2;
}

.col1-2{
    width: 25%;
}

h2{
    color: grey;
}

#footerbox1{
    height: 14rem;
    background-repeat: no-repeat;
    background-image: url(../img/monitor.jpg);
}

#footerbox2{
    height: 14rem;
    background-repeat: no-repeat;
    background-image: url(../img/graph.jpg);
}

.footerboxdescription{
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}